body {
    background-color: rgb(189, 189, 189);
}

.home-div {
    border: #612238 5px solid;
    background-color: #7e2d49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 50px;
}

.headshot {
    max-height: 300px;
}

.opening-paragraph {
    margin: 25px;
}