.navbar-div {
    background-color: aqua;
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 0px;
    padding-left: 0px;
}